---
layout: archive
title: "Awards and Honors"
permalink: /awards/
author_profile: true
---
	<strong>January, 2021</strong> 2020 CNIL-Inria Privacy Protection Award (Runner up) for our paper <i>Automatically Detecting Bystanders in Photos to Reduce Privacy Risks (Oakland 2020)</i>
	<strong>August, 2019</strong> : USENIX Association grant to attend the <i>15th Symposium, on Usable Privacy and Security, SOUPS 2019</i>.
 <br/>
 	<strong>July, 2019</strong> : NSF travel grant for attending <i>Privacy Enhancing Technologies Symposium (PETS 2019)</i>.
 <br/>
	<strong>April, 2019</strong> : Best poster award in the <i>Midwest Security Workshop (MSW 2019)</i>.
<br/>
	<strong> July, 2018</strong> : NSF travel grant to attend <i>Privacy Enhancing Technologies Symposium (PETS 2018)</i>.
 <br/>
 	<strong>July, 2017</strong> : NSF travel grant to attend <i>The Bright and Dark Sides of Computer Vision:
Challenges and Opportunities for Privacy and Security (CV COPS 2017)</i>.

{% include base_path %}

{% for post in site.award reversed %}
  {% include archive-single.html %}
{% endfor %}
