---
layout: archive
title: "Work Experience"
permalink: /jobs/
author_profile: true
---

<strong>Research Intern at <a href="https://www.icsi.berkeley.edu/icsi/"><u>International Computer Science Institute</u>, Berkeley, CA</a></strong>
<br/>
<span><font face="verdana" size="2" color="gray">Summer 2019</font></span>
<p>I worked under the supervision of <a href="https://www.icsi.berkeley.edu/icsi/people/egelman/">Dr. Serge Egelman</a> on a research project with the goal of understanding privacy concerns and attitudes of smart home device (e.g., Google Home) users.</p>
<br/>

<strong>Research Intern at <a href="https://www.mpi-inf.mpg.de/home/"><u>Max Planck Institute for Informatics</u>, Germany </a></strong>
<br/>
<span><font face="verdana" size="2" color="gray">Summer 2018</font></span>
<p>I worked under the supervision of <a href="https://scalable.mpi-inf.mpg.de/"><u>Dr. Mario Fritz</u>></a> on a research project where we applied computer vision to automatically detect people in images who should be obscured for privacy reasons.</p>
<br/>

<strong>Software Engineer in the <a href="http://www.vizrt.com/sports/"><u>R&D Sports Team, VizRT</u></a> </strong>
<br/>
<span><font face="verdana" size="2" color="gray">Sept 2013 - July 2015</font></span>
<p>
	Worked on  popular  sports analysis systems such as <a href="http://www.vizrt.com/products/viz_libero/"><u>VizLibero</u></a>, <a href="http://www.vizrt.com/products/viz_arena/"><u>VizArena</u></a>, and <a href="http://www.vizrt.com/products/viz_engine/"><u>VizEngine</u></a>. I was involved in implementing several popular features including <i>strike zone (baseball)</i> and <i>virtual presenter</i>. It was my first opportunity to work with computer vision and image processing algorithms using. Being part of a <i>research and development</i> team comprising of people from different countries, organized in flat hierarchy and following agile development process that invokes brain storming, idea sharing, and proper collaboration, helped me to grow both my technical skills as well as  communicating and collaborating abilities in a muti-cultural environment.
</p>

<br/>
<strong>Software Engineer at <a href="https://www.revesoft.com/"><u>Reve Systems</u></a></strong>
<br/>
<span><font face="verdana" size="2" color="gray">April 2012 - August 2013</font></span>
<br/>
<p>
	Worked on VoIP software for Blackberry and Android. Implemented socket communication,  recording, buffering, and playing back of audio data, multi-threaded implementation for simultaneous transmission of audio and protocol data. Tools and libraries include ARM compiler suit, Blackberry and Android native SDK, C++, Qt, Java ME, communication protocols (e.g. SIP), audio codec (e.g. G729).
</p>

{% include base_path %}

{% for post in site.jobs reversed %}
  {% include archive-single.html %}
{% endfor %}
